.contact {
  display: grid;
  place-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.social-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo-img {
  margin: auto;
  width: 100%;
  height: 100%;
}

.photo-self {
  width: 50%;
  height: auto;
  margin-bottom: 30px;
}

.contact .button {
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.contact .button:hover {
  width: 200px;
}
.contact .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.contact .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.contact .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.contact .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.contact .button:nth-child(4):hover .icon {
  background: #333;
}
.contact .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.contact .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.contact .button:hover .icon i {
  color: #fff;
}
.contact .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.contact .button:nth-child(1) span {
  color: #4267b2;
}
.contact .button:nth-child(2) span {
  color: #1da1f2;
}
.contact .button:nth-child(3) span {
  color: #e1306c;
}
/* .contact .button:nth-child(4) span {
  color: #333;
}
.contact .button:nth-child(5) span {
  color: #ff0000;
} */
