*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Inconsolata:wght@400;800&family=Montserrat:wght@100;400&family=Nanum+Gothic:wght@700&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto:wght@400;500&display=swap");

section {
  min-height: 57vh;
  width: 100vw;
}

.home-content {
  background-color: black;
  color: white;
  font-family: inconsolata;
  display: grid;
  place-items: center;
}

@media (min-width: 1007px) {
  .section {
  }
}

.header-text {
  font-family: sans-serif;
  font-size: 1.75rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  padding: 0 25px;
  box-sizing: border-box;
  background-image: linear-gradient(
    90deg,
    #fdf7ff,
    #fff5fb,
    #fff4f2,
    #fff5e9,
    #fff8e4,
    #f9fae3,
    #f2fbe3,
    #e9fde6,
    #defbed,
    #d8f7f3,
    #d7f3f7,
    #daeef7
  );
  z-index: 100;
}

.nav-link {
  text-decoration: none;
}

.social-container {
  display: flex;
}

.header-class {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.resume-button {
  margin: 10px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  position: relative;
  background: linear-gradient(
    -45deg,
    #ffd6d6,
    #faffb0,
    #c0ffb6,
    #d0ddff,
    #e1bfff
  );
  background-size: 400% 400%;
  animation: gradientBG 4.5s ease infinite;
  padding: 1.5rem 2rem;
  color: black;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1.3rem;
  /* transition: 0.3s; */
}

.greeting-intro {
  font-size: 5rem;
}

.greeting-details {
  font-size: 1.5rem;
}

.greeting-text {
  font-size: 1rem;
  margin: 50px;
  text-align: center;
}

.greeting-hello {
  font-size: 2.5rem;
}

.greeting-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 50px;
}

/* .main-skills-container { */
.skills {
  font-size: 1rem;
  text-align: center;
}

.skills-container {
  margin: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.skills-text {
  font-size: 1.5rem;
}

.skill {
  padding: 20px;
}

.react-img {
  height: auto;
  width: 50%;
  margin: auto;
}

.education-list {
  display: flex;
  list-style: none;
  text-align: center;
}

.education-list-item-container {
  padding: 20px;
  margin: 10px;
  height: 35vh;
  border: white;
  border-style: solid;
  box-shadow: 10px 10px 8px #888888;
  width: 30vw;
  contain: content;
  display: grid;
  place-items: center;
}

.lordicon {
  width: 30%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.experience {
  text-align: center;
}

.experience-title {
  font-size: 1.5rem;
}

.experience-description {
  font-size: 1.25rem;
}

.experience-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bocacode-img {
  margin: auto;
  height: auto;
  width: 20%;
  padding: 30px;
}

.project-section {
  padding: 20px;
  text-align: center;
  display: grid;
  place-items: center;
}

.project-list {
  /* display: flex;
  justify-content: center; */
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  place-items: center;
}

.project-list-item {
  padding: 20px;
  margin: 20px;
  height: 140vh;
  width: 50vw;
  border: white;
  border-style: solid;
  box-shadow: 10px 10px 8px #888888;
  contain: content;
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  padding: 0 1.5rem;
  width: fit-content;
  /* height: 50vh; */
}

.link {
  color: hotpink;
}

.link:hover {
  color: white;
}

.iframe {
  height: 90vh;
  width: 100%;
}

footer {
  color: white;
  width: 100%;
  height: 30vh;
}

@keyframes typing {
  0% {
    content: "";
  }
  10% {
    content: "C";
  }
  20% {
    content: "Ca";
  }
  30% {
    content: "Cas";
  }
  40% {
    content: "Cass";
  }
  50% {
    content: "Cassa";
  }
  60% {
    content: "Cassan";
  }
  70% {
    content: "Cassand";
  }
  80% {
    content: "Cassandr";
  }
  100% {
    content: "Cassandra";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
  font-size: 5rem;
}

.typewriter::before {
  content: "";
  animation: typing 5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "Cassandra Curcio";
    }
    25% {
      content: "developer";
    }
    50% {
      content: "developer";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/* .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */

/* @keyframes slideMe {
  0% {
    transform: skewX(53deg) translateX(-500px);
  }
  60% {
    transform: translateX(0px);
  }
  62% {
    transform: skewX(0deg) translateX(30px);
  }

  70% {
    transform: skew(-20deg);
  }
  80% {
    transform: skew(0deg) translate(0);
  }
  90% {
    transform: skew(-5deg);
  }
  100% {
    transform: skew(0deg);
  }
} */

.photo-self {
  width: 300px;
  height: auto;
}

.contact {
  display: flex;
  justify-content: center;
}
